# Network Security Manager
network-security.data

# compiled & binary files
**.elc
**.exe
**~

# packages
elpa/
quelpa/
straight/

# dired thumbnail cache
image-dired/

# private source files
custom.el
init/host/*
plugins/perf-web/
unused.el

# private cache files
.org-id-locations
abbrev_defs
bookmarks
ac-comphist.dat
org-clock-save.el
projects
projectile-bookmarks.eld
projectile.cache
recentf
smex-items
smex.save
tramp
.saves
session.*
.cache/
tldr/

# requests
request/

# magit
transient/

# nov.el
nov-places

# org-roam
org-roam.db

# tldr
tldr-master/

# private folders
tree-sitter/
auto-save-list/
eshell/
info/
src/
server/
tmp/
thumbs/
snippets/
url/
var/
emojis/
package-src/
*.lnk
