[submodule "plugins/fakecygpty"]
	path = plugins/fakecygpty
	url = https://github.com/d5884/fakecygpty
[submodule "plugins/prf-theme"]
	path = plugins/prf-theme
	url = https://github.com/p3r7/prf-theme
[submodule "plugins/prf-require"]
	path = plugins/prf-require
	url = https://github.com/p3r7/prf-require
[submodule "plugins/vagrant-tramp"]
	path = plugins/vagrant-tramp
	url = https://github.com/p3r7/vagrant-tramp