# Network Security Manager
network-security.data

# compiled & binary files
**.elc
**.exe
**~

# packages
elpa/

# private source files
custom.el
init/host/*
plugins/perf-web/
unused.el

# private cache files
.org-id-locations
abbrev_defs
bookmarks
ac-comphist.dat
org-clock-save.el
projectile-bookmarks.eld
projectile.cache
recentf
smex.save
tramp
.saves

# magit
transient/

# private folders
auto-save-list/
eshell/
info/
src/
server/
tmp/
thumbs/
snippets/
url/
var/
emojis/
plugins-src/tramp-2.2.12/config.status
plugins-src/tramp-2.2.12/config.log
*.lnk
